<link href="/css/all_icons.min.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


                <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">

{% block title %}Log in!{% endblock %}

{% block body %}

<div id="login">
		<aside>
			<figure>
				<a href="#"><img src="/img/logo.png" width="149" height="42" data-retina="true" alt=""></a>
			</figure>
			<form method="POST" >
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
				<div class="form-group">

					

					<span class="input">
					<input class="input_field" type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
						<label class="input_label">
						<span class="input__label-content">Identifiant</span>
					</label>
					</span>

					

					<span class="input">
					<input name="password" id="inputPassword" class="input_field" type="password" id="password1" required>
						<label class="input_label">
						<span class="input__label-content">Mot de passe</span>
					</label>
					</span>

					<input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
					
					<div id="pass-info" class="clearfix"></div>
				</div>
				<button type="submit"  class="btn_1 rounded full-width add_top_30" value="">Se connecter</button>
				<div class="text-center add_top_10">Vous avez oublié votre mode passe? <strong><a href="login.html">Récuperer password</a></strong></div>
			</form>
			<div class="copy">© 2017 nom d'établissement</div>
		</aside>
	</div>
	<!-- /login -->
{% endblock %}
